
.about-container {
    background-color: #242424;
    height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    object-fit: contain;
    
}



.mycard {
    background-color: #b6b39b ;
    position: absolute;
    margin-left: 420px;
    margin-top: 470px;
    width: 40%;
    height: fit-content;
    border: 3px solid #b6b39b;
    
}

.fa-phone-alt {
    font-size: 20px;
    margin-left: 15px;
    color: red;
}


.about-container > h1 {
    color:#fff;
    float: left;
    font-size: 36px;
    position: absolute;
    margin-top: 280px;
    margin-left: 120px;
    -ms-transform: rotate(-20deg); /* IE 9 */
  transform: rotate(-90deg);
}

.about-container > p {
    color:#fff;
    width: 480px;
    margin-left: 300px;
    position: absolute;
    margin-top: 200px;
    font-size: 18px;
    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 
    'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.about-img {
    width: 280px;
    position: absolute;
    margin-left: 940px;
    margin-top: 120px;
}

.fa-react {
    color: rgb(13, 129, 197);
    position: absolute;
    margin-top: 370px;
    margin-left: 370px;
    font-size: 40px;
}

.fa-html5 {
    color: rgb(236, 124, 19);
    position: absolute;
    margin-top: 320px;
    margin-left: 305px;
    font-size: 40px;
}

.fa-css3-alt {
    color: rgb(19, 52, 236);
    position: absolute;
    margin-top: 320px;
    margin-left: 440px;
    font-size: 40px;
}

.fa-bootstrap {
    color: rgb(96, 42, 182);
    position: absolute;
    margin-top: 320px;
    margin-left: 580px;
    font-size: 40px;
}




.fa-js-square {
    color: rgb(253, 219, 27);
    position: absolute;
    margin-top: 320px;
    margin-left: 730px;
    font-size: 40px;
}

.fa-php {
    color: rgb(134, 70, 255);
    position: absolute;
    margin-top: 370px;
    margin-left: 500px;
    font-size: 40px;
}

.skill-img {
    position: absolute;
    margin-top: 370px;
    margin-left: 650px;
    max-width: 40px;
    
}

@media screen and (max-width: 600px) {
    
    .about-container {
        overflow-x: hidden;
        width: 100%;
        position: relative;
    }
    .about-container > h1 {
        font-size: 20px;
        margin-left: 70px;
        margin-top: 200px;
        -ms-transform: rotate(20deg); /* IE 9 */
  transform: rotate(0deg);
    }

    .about-container > p {
        font-size: 12px;
        margin-left:70px;
        width: 350px;
        margin-top: 250px;
    }

    .about-img {
        overflow: hidden;

    }

    .fa-react {
        margin-top: 350px;
        margin-left: 70px;
        font-size: 25px;
    }
    
    .fa-html5 {
        
        margin-top: 352px;
        margin-left: 150px;
        font-size: 25px;
    }
    
    .fa-css3-alt {
        margin-top: 352px;
        margin-left: 230px;
        font-size: 25px;
    }
    
    .fa-bootstrap {
        margin-top: 352px;
        margin-left: 310px;
        font-size: 25px;
    }
    
    .fa-js-square {
        
        margin-top: 352px;
        margin-left: 390px;
        font-size: 25px;
    }
    
    .fa-php {
        margin-top: 400px;
        margin-left: 190px;
        font-size: 25px;
    }
    
    .skill-img {
        margin-top: 400px;
        margin-left: 270px;
        max-width: 25px;
        
    }
    
}

@media screen and (max-width: 768px) {
    
    .about-container {
        overflow-x: hidden;
        width: 100%;
        position: relative;
    }
    .about-container > h1 {
        font-size: 35px;
        margin-left: 70px;
        margin-top: 150px;
        -ms-transform: rotate(20deg); /* IE 9 */
  transform: rotate(0deg);
    }

    .about-container > p {
        font-size: 14px;
        margin-left:70px;
        width: 370px;
        margin-top: 220px;
    }

    .about-img {
        overflow: visible;
        width: 120px;
        margin-left: 490px;
        margin-top: 165px;

    }

    .fa-react {
        margin-top: 320px;
        margin-left: 70px;
        font-size: 25px;
    }
    
    .fa-html5 {
        
        margin-top: 322px;
        margin-left: 150px;
        font-size: 25px;
    }
    
    .fa-css3-alt {
        margin-top: 322px;
        margin-left: 230px;
        font-size: 25px;
    }
    
    .fa-bootstrap {
        margin-top: 322px;
        margin-left: 310px;
        font-size: 25px;
    }
    
    .fa-js-square {
        
        margin-top: 322px;
        margin-left: 390px;
        font-size: 25px;
    }
    
    .fa-php {
        margin-top: 365px;
        margin-left: 190px;
        font-size: 25px;
    }
    
    .skill-img {
        margin-top: 365px;
        margin-left: 270px;
        max-width: 25px;
        
    }
    
}


@media screen and (min-width: 768px) {
    
    .about-container {
        overflow-x: hidden;
        width: 100%;
        position: relative;
    }

    .about-container > h1 {
        margin-left: 110px;
        
    }

}


