.work-container {
    background-color: #242424;
    height: 265vh;
    width: 100%;
    display: flex;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    object-fit: contain;
    
}

.work-container > h1 {
    font-size: 48px;
    color: rgba(221, 221, 221, 0.753);
    position: absolute;
    margin-top: 20px;
    margin-left: 100px;
    font-weight: 100;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.work-container > p {
    font-size: 16px;
    width: 990px;
    color: rgba(221, 221, 221, 0.753);
    position: absolute;
    margin-top: 80px;
    margin-left: 102px;
    font-weight: 100;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.card-item1 {
    background-color: #b6b39b ;
    position: absolute;
    margin-left: 20px;
    margin-top: 190px;
    width: 80%;
    border: 3px solid #b6b39b;
    border-radius: 3px;
    padding: 250px;
    
}

.card-item1 > h2 {
    position: absolute;
    margin-top: -90px;
    margin-left: -210px;
    color: rgb(221, 221, 221);
    font-size: 62px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 100;
    -ms-transform: rotate(-20deg); /* IE 9 */
    transform: rotate(-90deg);

}


.card-item1 > p {
    position: absolute;
    margin-top: -215px;
    margin-left: -50px;
    color: rgb(221, 221, 221);
    font-size: 14px;
    width: 820px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 100;

}

.card-item1 > img {
    position: absolute;
    margin-top: -150px;
    margin-left: -50px;
    max-width: 800px;
    height: auto;
}



.card-item2 {
    background-color: #3f3f3f ;
    position: absolute;
    margin-left: 270px;
    margin-top: 700px;
    width: 80%;
    border: 3px solid #3f3f3f;
    border-radius: 3px;
    padding: 250px;
    
}

.card-item2 > h2 {
    position: absolute;
    margin-top: -2px;
    margin-left: -310px;
    color: rgb(221, 221, 221);
    font-size: 62px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 100;
    -ms-transform: rotate(-20deg); /* IE 9 */
    transform: rotate(-90deg);

}


.card-item2 > p {
    position: absolute;
    margin-top: -215px;
    margin-left: -50px;
    color: rgb(221, 221, 221);
    font-size: 14px;
    width: 820px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 100;

}

.card-item2 > img {
    position: absolute;
    margin-top: -150px;
    margin-left: -50px;
    max-width: 800px;
    height: auto;
}

.card-item3 {
    background-color: #b6b39b ;
    position: absolute;
    margin-left: 20px;
    margin-top: 1210px;
    width: 80%;
    border-radius: 3px;
    border: 3px solid #b6b39b;
    padding: 250px;
    
}

.card-item3 > h2 {
    position: absolute;
    margin-top: -29px;
    margin-left: -280px;
    color: rgb(221, 221, 221);
    font-size: 62px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 100;
    -ms-transform: rotate(-20deg); /* IE 9 */
    transform: rotate(-90deg);

}


.card-item3 > p {
    position: absolute;
    margin-top: -180px;
    margin-left: -50px;
    color: rgb(221, 221, 221);
    font-size: 14px;
    width: 820px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 100;

}

.card-item3 > img {
    position: absolute;
    margin-top: -150px;
    margin-left: -50px;
    max-width: 500px;
    height: auto;
}

img {
    position: absolute;
    margin-top: 1430px;
    margin-left: 580px;
    max-width: 500px;
    height: auto;
    
}

@media screen and (max-width: 600px) {

    .work-container {
        position: relative;
        overflow-x: hidden;
        width: 100%;
        height: 100vh;  
        
       
    }

    .work-container > h1 {
        font-size: 30px;
        margin-left: 70px;
        margin-top: 30px;
    }

    .work-container > p {
        font-size: 12px;
        margin-left: 72px;
        width: 350px;
    }

    
    .card-item1 {
    width: 100%;
    padding: 150px;
}       

    .card-item1 > h2 {
    margin-left: -135px;
    margin-top: -150px;
    font-size: 20px;
    -ms-transform: rotate(20deg); /* IE 9 */
    transform: rotate(0deg);
    }

    .card-item1 > img {
        margin-top: -45px;
        margin-left: -140px;
        max-width: 400px;
        height: auto;
    }
    
    .card-item1 > p {
        margin-top: -120px;
        margin-left: -140px;
        font-size: 12px;
        width: 428px;
        
    }

    .card-item2 {
        margin-left: 20px;
        margin-top: 550px;
        width: 80%;
        padding: 250px;
        width: 100%;
        padding: 150px;
    }       
    
        .card-item2 > h2 {
        margin-left: -135px;
        margin-top: -150px;
        font-size: 20px;
        -ms-transform: rotate(20deg); /* IE 9 */
        transform: rotate(0deg);
        }
    
        .card-item2 > img {
            margin-top: -45px;
            margin-left: -140px;
            max-width: 400px;
            height: auto;
        }
        
        .card-item2 > p {
            margin-top: -120px;
            margin-left: -140px;
            font-size: 12px;
            width: 428px;
            
        }

        .card-item3 {
            margin-left: 20px;
            margin-top: 910px;
            width: 80%;
            padding: 250px;
            width: 100%;
            padding: 150px;
        }       
        
            .card-item3 > h2 {
            margin-left: -135px;
            margin-top: -150px;
            font-size: 20px;
            -ms-transform: rotate(20deg); /* IE 9 */
            transform: rotate(0deg);
            }
        
            .card-item3 > img {
                display: none;
            }
            
            .card-item3 > p {
                margin-top: -120px;
                margin-left: -140px;
                font-size: 12px;
                width: 428px;
                
            }

            img {
                
                margin-top: 980px;
                margin-left: 35px;
                max-width: 400px;
              
            }   
}

@media screen and (max-width:768px) {

    .work-container {
        position: relative;
        overflow-x: hidden;
        width: 100%;
        height: 100vh;  
        
       
    }

    .work-container > h1 {
        font-size: 40px;
        margin-left: 70px;
        margin-top: 30px;
    }

    .work-container > p {
        font-size: 16px;
        margin-left: 72px;
        width: 580px;
        margin-top: 90px;
    }

    
    .card-item1 {
    width: 80%;
    padding: 150px;
}       

    .card-item1 > h2 {
    margin-left: -135px;
    margin-top: -150px;
    font-size: 20px;
    -ms-transform: rotate(20deg); /* IE 9 */
    transform: rotate(0deg);
    }

    .card-item1 > img {
        margin-top: -45px;
        margin-left: -140px;
        max-width: 400px;
        height: auto;
    }
    
    .card-item1 > p {
        margin-top: -120px;
        margin-left: -140px;
        font-size: 12px;
        width: 428px;
        
    }

    .card-item2 {
        margin-left: 20px;
        margin-top: 550px;
        width: 80%;
        padding: 150px;
       
    }       
    
        .card-item2 > h2 {
        margin-left: -135px;
        margin-top: -150px;
        font-size: 20px;
        -ms-transform: rotate(20deg); /* IE 9 */
        transform: rotate(0deg);
        }
    
        .card-item2 > img {
            margin-top: -45px;
            margin-left: -140px;
            max-width: 400px;
            height: auto;
        }
        
        .card-item2 > p {
            margin-top: -120px;
            margin-left: -140px;
            font-size: 12px;
            width: 428px;
            
        }

        .card-item3 {
            margin-left: 20px;
            margin-top: 910px;
            width: 80%;
            padding: 150px;
            
        }       
        
            .card-item3 > h2 {
            margin-left: -135px;
            margin-top: -150px;
            font-size: 20px;
            -ms-transform: rotate(20deg); /* IE 9 */
            transform: rotate(0deg);
            }
        
            .card-item3 > img {
                display: none;
            }
            
            .card-item3 > p {
                margin-top: -120px;
                margin-left: -140px;
                font-size: 12px;
                width: 428px;
                
            }

            img {
                
                margin-top: 980px;
                margin-left: 35px;
                max-width: 400px;
              
            }    
}


